<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <center>
      <h3>Enter Employee Data</h3>
      <form>
        Name: <input type="text" /><br /><br />
        Email:<input type="email" /><br /><br />
        Phone Number:<input type="text" /><br /><br />
        <label for="cars"> City:</label>
        <select>
          <option value="volvo">Select</option>
          <option value="volvo">Pune</option>
          <option value="saab">Hydrebad</option>
          <option value="fiat">Mumbai</option>
          <option value="audi">Noida</option></select
        ><br /><br />
        DOB:<input type="date" /><br />
      </form>
    </center>
  </body>
</html>
