<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>
      .main-header {
        width: 100%;
        height: 3rem;
        background-color: rgb(46, 230, 168);
      }
      .main-header-nav {
        display: flex;
        width: 100%;
      }
      .main-header-item-nav {
        list-style-type: none;
        display: flex;
      }
      .main-header-item {
        margin: 0 lrem;
        text-decoration: none;
        color: azure;
      }
    </style>
  </head>
  <body>
    <div class="main-header">
      <navbar class="main-header-nav">
        <ul class="main-header-item-list">
          <li class="main-header-item">Home</li>
          <li class="main-header-item">Add Product</li>
        </ul>
      </navbar>
    </div>
  </body>
</html>
